<h1>Simple Ecom</h1>

<% if can? :manage, @all %>
  <h2>Hey <%= current_user.name %></h2>
  <ui>
    <li>
      <%= link_to "MANAGE ITEMS", items_path %>
    </li>
  </ui>

<% else %>
  <h2>Welcome User !</h2>
  <ui>
    <li>
      <%= link_to "ORDER NOW !", new_order_path %>
    </li>
  </ui>
<% end %>
